


.title {
  color: white;
  margin: 0;
  font-size: 1em;
  font-family: Verdana, sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.home {
  color: white;
  font-size: 30px;
  padding: 10px 15px;
}
.home:hover {
  cursor: pointer;
  color: #c0df3e;
}

@media (max-width: 500px) {
  .container{
    text-align: right;
    margin-right: 4vh;
  }
  .title {
    font-size: 10px;
    margin-right: 2vh;
  }
  .home {
    justify-content:center ;
    margin-right: 20%;
    margin-top: 10px;
  }
}
