.container {
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  animation: fade-in 0.5s ease-in-out forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.title {
  color: white;
  margin: 0;
  font-size: 1em;
  font-family: Verdana, sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.home {
  color: white;
  font-size: 30px;
  padding: 10px 15px;
}
.home:hover {
  cursor: pointer;
  color: #c0df3e;
}

@media (max-width: 767px) {
  .title {
    font-size: 18px;
  }
  .home {
    margin-top: 15px;
  }
}
