.container {
  display: flex;
  position: relative;
  margin-left: 58%;
  margin-top: 5%;
}

.cardContainer {
  position: fixed;
  top: 50%;
  left: 36%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(-45deg, #251d2e, #2e788d, #3799ab, #251d2e);
  border: 1px groove #23626d;
  border-radius: 0 36px 0 36px;
  width: 50%;
  max-width: 450px;
  max-height: 90%;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  box-shadow: 6px 5px 5px #0c2327;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

.img {
  border-radius: 4vh;
  max-height: 100%;
  width: 35vh;
  margin: auto;
  height: auto;
  border: 1px solid #23626d;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4), 0 4px 8px rgba(0, 0, 0, 0.4) inset;
}

.name {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  font-size: 16px;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.8);
}

.mini {
  margin-bottom: -5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #c0df3e;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
  font-size: 14px;
  font-weight: bold;
}

span {
  color: #e8e8e8;
  font-size: 14px;
  font-weight: bold;
  font-style: italic;
}

.navLink {
  margin-top: 5%;
  color: white;
  font-size: 30px;
  padding: 10px 15px;
}

.navLink:hover {
  color: #c0df3e;
}

@media only screen and (max-width: 500px) {
  .cardContainer {
    width: 92%;
    max-height: 90%;
    left: 50%;
  }

  .episodesContainer {
    display: none;
  }
}

@media only screen and (max-width: 1024px) {
  .name {
    margin: 0;
  }
  .img {
    margin: 4vh;
  }
  .cardContainer {
    transform: scale(0.7);
    left: 15%;
    top: 0;
    bottom: 0;
  }

  .episodesContainer {
    transform: scale(0.5);
    margin-left: -25%;
  }
}
