.title {
    color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 2px;
    margin-top: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    margin-bottom: 0;

  }
  
  .myhr {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
  }
  .anchor {
    position: fixed;
    margin-right: 6vh;
    bottom: 20px;
    right: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s;
    transform: scale(1);
    transition: transform 0.3s;
  }
  
  .anchor:hover {
    transform: scale(1.2);
  }
  
  .anchorIcon {
    color: #000000;
    font-size: 24px;
  }
  
  .myButton {
    margin: 0;
    margin-top: -20vh;
    color: rgb(255, 255, 255);
    font-size: 14px;
    padding: 10px;
    border-radius: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    background-image: linear-gradient(90deg, #173e51 0%, #21546d 50%, #286989 100%);
    box-shadow: rgb(0, 0, 0) 1px 1px 4px 0px;
    border: 1px solid #0e2531;
    display: inline-block;
    margin-inline-start: 85%;
  }
  
  .myButton:hover {
    filter: saturate(180%);
    box-shadow: 0 0 8px #ffffff;
  }
  
  .myButton:active {
    box-shadow: unset;
    filter: brightness(150%);
  }
  

  @media only screen and (max-width: 500px) {
    .title{
      font-size: 18px;
      margin-left: 18vh;
      margin-top: 2vh;
    }

    .myButton{
      font-size: 0.5em;
    }

    .anchor{
      z-index: 9999; /* Valor alto para asegurar que esté por encima de todo */
      margin: 0;
    }
  
  }