.container {
  position: fixed;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(
    45deg,
    rgba(64, 182, 203, 0.7) 0%,
    rgba(49, 142, 158, 0.7) 50%,
    rgba(23, 66, 74, 0.7) 100%
  );
  border-radius: 8px;
  width: 50%;
  max-width: 500px;
  padding: 20px;
  z-index: 9999;
  box-sizing: border-box;
  opacity: 0;
  animation: fade-in 0.5s ease-in-out forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

.img {
  border-radius: 20%;
  max-height: 100%;
  width: 35vh;
  margin: auto;
  height: auto;
  border: solid 2px #17424a;
}

.name {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  font-size: 18px;
}

.mini {
  margin-bottom: -5px;
  color: #c0df3e;
  font-size: 16px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: bold;
}

span {
  color: #0e2632;
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
}

@media only screen and (max-width: 500px) {
  .container {
    margin-top: 10%;
    width: 95%;
    max-height: 88%;
  }
}
.navLink {
  margin-top: 5%;
  color: white;
  font-size: 30px; 
  padding: 10px 15px; 
}

.navLink:hover{
  color: lightgray;
}
