.myDiv {
  display: inline-block;
  padding: 10px;
  background-image: linear-gradient(-45deg, #2e788d, #3799ab, #251d2e);
  border-radius: 0 20px 0 20px;
  overflow: hidden;
  height: 30vh;
  min-width: 25vh;
  max-width: 25vh;
  transition: transform 0.4s box-shadow 0.3s ease;
  margin-top: 1vh;
  margin-bottom: 1vh;
  margin-left: 4vh;
  border: 1px groove #23626d;
  box-shadow: 6px 5px 5px #0c2327;
}

.myDiv:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px #ffffff;
}

.myButton {
  background-color: #1a4850;
  color: white;
  border: gray solid 1px;
  font-family: "Courier New", Courier, monospace;
  border-radius: 5px;
  font-size: 12px;
  padding: 0px;
  margin: 0;
  width: 2vh;
  height: 2vh;
}
.myButton:hover {
  filter: brightness(110%);
  box-shadow: 0 0 2px #ffffff;
}

.title {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 0.9em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
.title:hover {
  color: #c0df3e;
}
.picture {
  width: 16vh;
  border-radius: 8px;
  border: 1px solid #23626d;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4), 0 4px 8px rgba(0, 0, 0, 0.4) inset;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
  padding: 2px;
}

.heartIcon {
  color: white;
  width: 2.5vh;
  height: 2.5vh;
  cursor: pointer;
}

.favorite {
  color: #ff0000;
}

@keyframes pulseAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.heartIcon:hover {
  animation: pulseAnimation 1s ease infinite;
}

@media only screen and (max-width: 500px) {
  .myDiv {
    margin: unset;
    padding: unset;
    min-width: 15vh;
    max-width: 15vh;
    height: 22vh;
    margin-bottom: 10px;
    margin-left: 5px;
  }

  .title {
    font-size: 10px;
  }
  .picture {
    max-width: 10vh;
  }

  .buttonContainer {
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: -10px;
    margin-inline: 5px;
  }

  .myButton {
    font-size: 10px;
    padding: 3px;
    max-width: 20px;
  }
  .heartIcon {
    width: 15px;
    height: 15px;
  }
}
