.card {
  background: -webkit-linear-gradient(
    -25deg,
    #4b5aa5 0%,
    rgb(3, 3, 135) 25%,
    #16035b 50%,
    rgb(2, 2, 55) 75%,
    #000000 100%
  );
  border: 1px solid #e1e8ed;
  border-radius: 10px;
  margin-bottom: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
  box-shadow: 5px 5px 15px 5px #000000;
  transition: transform 0.5s ease-in-out;
  overflow: hidden;
  position: relative;
  width: 100%; 
  max-width: 30%;
  height: 680px;
  display: none;
  @media only screen and (max-width: 500px) {
    max-width: 95%;
  }
}

.card.visible {
  display: flex; /* Muestra la carta cuando tiene la clase "visible" */
}

.card:hover {
  transform: translateY(-5px);
  -webkit-box-shadow: 5px 5px 20px 5px #000000;
  box-shadow: 5px 5px 20px 5px #000000;
}

.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(
  -10deg,
  #020f44 0%,
  rgb(63, 63, 177) 25%,
  #341b8b 50%,
  rgb(33, 33, 152) 75%,
  #170362 100%
  );
  opacity: 0;
  z-index: -1;
  transition: opacity 0.8s ease-in-out;
}

.card:hover:before {
  opacity: 1;
}

.close-button {
  background-color: transparent;
  border: none;
  color: #999;
  font-size: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.name {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  text-shadow: 1px 3px 0 #969696, 1px 13px 5px #aba8a8;
}

.name:after {
  content: attr(data-title);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  transform: skew(10deg);
  z-index: -1;
  pointer-events: none;
}

.status,
.species,
.gender,
.origin {
  font-size: 16px;
  margin-bottom: 5px;
  text-align: center;
  color: #ffffff;
  text-shadow: 2px 2px 0px #000000, 5px 4px 0px rgba(0, 0, 0, 0.15);
}

.property .value {
  font-size: 20px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  color: #c9c5d3;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.1),
    1px 1px 1px rgba(0, 0, 0, 0.5);
}

img {
  width: 220px;
  height: auto;
  margin-top: 20px;
  border-radius: 6px;
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
  box-shadow: 5px 5px 15px 5px #000000;
  transition: transform 0.3s ease-in-out;
}

.property {
  font-family:Arial, Helvetica, sans-serif;
  color: #000000;
  text-shadow: 4px 3px 0 #3c3c3c;
  color: #e5e5e5;
}

.rick:hover {
  transform: scale(1.1);
  content: url("../images/rickand-morty-rick.gif"); 
}

.morty:hover {
  transform: scale(1.1);
  content: url("../images/morty.gif"); 
}

.summer:hover {
  transform: scale(1.1);
  content: url("../images/rickand-morty-rick.gif"); 
}

.beth:hover {
  transform: scale(1.1);
  content: url("../images/rickand-morty-rick.gif"); 
}

.jerry:hover {
  transform: scale(1.1);
  content: url("../images/rickand-morty-rick.gif"); 
}

