.container {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap-reverse;
  animation: fade-in 0.5s ease-in-out forwards;
  max-width: 90%;
  justify-content: center;
  margin-left: 40px;
}

.container > * {
  margin-right: 10px; 
}

.container > *:last-child {
  margin-right: 0;
}

@media only screen and (max-width: 500px) {
  .container {
    margin: unset;
    justify-content: space-around;
    max-width: unset;
    margin-top: 15px;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}