.container {
  flex-wrap: wrap;
  animation: fade-in 0.5s ease-in-out forwards;
  
}

.container > * {
  margin-right: 10px; /* Agrega un margen derecho para separar horizontalmente los elementos */
}

.container > *:last-child {
  margin-right: 0; /* Elimina el margen derecho del último elemento de cada fila */
}

@media only screen and (max-width: 500px) {
  .container {
    margin-top: 15px;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}