.card.visible {
  display: flex;
  /* Muestra la carta cuando tiene la clase "visible" */
}

.card:hover {
  box-shadow: 2px 0px 20px 5px #c8c8c8;
  transition: box-shadow 1s, transform 1s;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  position: relative;
}

@media only screen and (max-width: 500px) {
  .container {
    display: flex;
    flex-direction: column;
  }
}

.arrows {
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  top: 60%;
  transform: translateY(-100%);
  left: 0;
  right: 0;
}

@media only screen and (max-width: 576px) {
  .arrows {
    display: none;
  }
}

.arrow {
  font-size: 24px;
  cursor: pointer;
  width: 0;
  height: 0;
  border-style: solid;
  transition: transform 0.3s, filter 0.3s; 
  background-color: transparent;
}

.arrow.next {
  margin-right: 0;
}

.right {
  margin-left: 15%;
  border-width: 50px 0 50px 60px; 
  border-color: transparent transparent transparent #1319aa; 
  filter: drop-shadow(-10px 0 5px rgba(0, 0, 0, 1)); 
}

.left {
  border-width: 50px 60px 50px 0; 
  border-color: transparent #1319aa transparent transparent; 
  filter: drop-shadow(10px 0 5px rgba(0, 0, 0, 1)); 
}

.arrow:hover {
  transform: scale(1.1); 
}

.arrow:active {
  transform: scale(1.1);
  filter: drop-shadow(0 0 5px rgba(96, 97, 97, 0.7));
}

