.card.visible {
  display: flex;
  /* Muestra la carta cuando tiene la clase "visible" */
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50%;
  position: relative;
  width: 100%;
}

@media only screen and (max-width: 500px) {
  .container {
    display: flex;
    flex-direction: column;
  }
}

.container.inverse {
  flex-direction: row-reverse;
}

