.aboutContainer {
  position: relative;
  perspective: 1000px;
  height: 600px;
  overflow: hidden;
  border-radius: 10px;
  opacity: 0;
  transform: scale(0.5);
  animation: fade-in 0.5s ease-in-out forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.background {
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    45deg,
    #40b6cb 0%,
    #318e9e 50%,
    #17424a 100%
  );
  opacity: 0.8;
  z-index: -1;
}

.begin {
  font-weight: bolder;
  font-size: larger;
}
.content {
  position: relative;
  text-align: center;
  color: white;
  padding: 40px;
  width: 70%;
  margin: 0 auto;
  font-family: Verdana, sans-serif;
}

.profileImageContainer {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
  border: 4px solid white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  filter: grayscale(95%);
}

.profileImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.description {
  font-size: 18px;
  margin-bottom: 10px;
}

h2 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: -5px;
}

.navLink {
  margin-top: 5%;
  color: white;
  font-size: 30px;
  padding: 10px 15px;
}

.navLink:hover {
  color: #c0df3e;
}

@media (max-width: 767px) {
  .me {
    font-size: 22px;
  }
  .content {
    margin-top: -25px;
  }

  .aboutContainer {
    margin-top: 23%;
    max-height: 85vh;
    max-width: 70vh;
  }

  .content {
    margin-bottom: -25px;
  }

  .profileImageContainer {
    width: 100px;
    height: 100px;
  }

  h2 {
    font-size: 14px;
  }
}