.myDiv {
  display: inline-block;
  padding: 10px;
  background-color: #40b6cb;
  border-radius: 10px;
  overflow: hidden;
  height: 30vh;
  min-width: 25vh;
  max-width: 25vh;
  transition: transform 0.4s box-shadow 0.3s ease;
}

.myDiv:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px #0b023f, 0 0 20px #2d1570;
}

.myButton {
  background-color: #23626d;
  color: white;
  border-radius: 5px;
  font-size: 12px;
  padding: 4px;
  margin: 0;
  width: 14%;
}

.title {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: large;
}
.title:hover {
  color: #c0df3e;
}
.picture {
  width: 16vh;
  border-radius: 8px;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
}

.heartIcon {
  color: white;
  cursor: pointer;
}

.favorite {
  color: red;
}

@media only screen and (max-width: 500px) {
  .myDiv {
    margin: unset;
    padding: unset;
    min-width: 15vh;
    max-width: 15vh;
    height: 25vh;
  }

  .title {
    font-size: 12px;
  }
  .picture {
    max-width: 10vh;
  }

  .buttonContainer {
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: -10px;
    margin-inline: 5px;
  }

  .myButton {
    font-size: 10px;
    padding: 3px;
    max-width: 20px;
  }
  .heartIcon {
    width: 15px;
    height: 15px;
  }
}
