.card {
  background: -webkit-linear-gradient(-25deg,
      #4b5aa5 0%,
      rgb(3, 3, 135) 25%,
      #16035b 50%,
      rgb(2, 2, 55) 75%,
      #000000 100%);
  border: 1px solid #e1e8ed;
  border-radius: 10px;
  margin-bottom: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
  box-shadow: 5px 5px 15px 5px #000000;
  transition: transform 0.5s ease-in-out;
  overflow: hidden;
  position: relative;
  width: 100%;
  max-width: 30%;
  height: 680px;
  display: none;

  /* Resto de estilos... */

  @media only screen and (max-width: 500px) {
    height: 500px;
    max-width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
}



/* 
.card:hover {
  transform: translateY(-5px);
  -webkit-box-shadow: 2px 2px 20px 5px #a19e9e;
  box-shadow: 2px 2px 20px 5px #c8c8c8;
  transition: transform 1s, box-shadow 1s, -webkit-box-shadow 1s;
} */
/* 
.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
  transition: opacity 1s ease-in-out;

} */
/* 
.card:hover:before {
  opacity: 1;
} */

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.close-button:before,
.close-button:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 14px;
  height: 2px;
  background-color: #dedede;
  transform-origin: center;
}

.close-button:before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.close-button:after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.close-button:hover:before,
.close-button:hover:after {
  background-color: #999;
}

.name {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  text-shadow: 1px 3px 0 #969696, 1px 8px 5px #aba8a8;

  @media only screen and (max-width: 500px) {
    font-size: 30px;
  }
}

.name:after {
  content: attr(data-title);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  transform: skew(10deg);
  z-index: -1;
  pointer-events: none;
}

.property .value {
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  color: #c9c5d3;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.1),
    1px 1px 1px rgba(0, 0, 0, 0.5);

  @media only screen and (max-width: 500px) {
    font-size: 14px;
    text-align: justify;
  }
}

.property {
  font-family: Arial, Helvetica, sans-serif;
  color: #000000;
  text-shadow: 4px 3px 0 #3c3c3c;
  color: #e5e5e5;

  @media only screen and (max-width: 500px) {
    font-size: 14px;
    text-align: justify;
  }
}