.characters {
  margin-top: 5px;
  border-radius: 20px;
  -webkit-box-shadow: 5px 5px 20px 5px #000000;
  box-shadow: 5px 5px 20px 5px #000000;
  transition: transform 0.5s ease-in-out;

  @media only screen and (max-width: 500px) {
    width:220px;
    height:213px;
  }
}

.characters:hover {
  transition: transform 0.5s ease-in-out;
  transform: scale(1.1);

  @media only screen and (max-width: 500px) {
    all: unset;
    /* width:220px;
    height:213px; */
  }
}

.characters.static:hover {
  transform: none;
  @media only screen and (max-width: 500px) {
    all: unset;

    /* width:220px;
    height:213px; */
  }
}

.name {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  text-shadow: 1px 3px 0 #969696, 1px 4px 8px #aba8a8;

  @media only screen and (max-width: 500px) {
    /* all: unset; */
    margin-top: -10px;
    margin-bottom: -10px;
  }
}

.property .value {
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  color: #c9c5d3;

  @media only screen and (max-width: 500px) {
    /* all: unset; */

  }
}

.property {
  font-family: Arial, Helvetica, sans-serif;
  color: #e5e5e5;

  @media only screen and (max-width: 500px) {
    /* all: unset; */
    font-size: 18px;
    margin-top: -10px;
    margin-bottom: -10px;
  }
}

.mybutton {
  color: lightgray;
  font-size: 16px;
  padding: 6px;
  border-radius: 10px;
  background-image: linear-gradient(
    45deg,
    #4b5aa5 0%,
    rgb(3, 3, 135) 50%,
    #16035b 100%
  );

  box-shadow: rgb(0, 0, 0) 1px 1px 3px 1px;
  border: 2px solid rgb(28, 110, 164);
  display: inline-block;

  @media only screen and (max-width: 500px) {
    /* all: unset; */
  }
}

.mybutton:hover {
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.6);
  @media only screen and (max-width: 500px) {
    /* all: unset; */
  }
}

.mybutton:active {
  transform: scale(1);
  transition: transform 0.3s, box-shadow 0.3s;
  @media only screen and (max-width: 576px) {
    /* all: unset; */
  }
}

.mybutton.rig {
  font-family: "Courier New", Courier, monospace;
  margin-left: auto;
  margin-right: 5px;
  margin-top: 5px;
  @media only screen and (max-width: 500px) {
    /* all: unset; */
  }
}

.details {
  font-size: 12px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #40b6cb;
  text-decoration: none; 
  margin-bottom: 22px;
}

.details:hover {
  border-bottom: 1px solid #c0df3e; 
  padding-bottom: 3px;
  filter: brightness(130%);
}

.details:active {
  color: #c0df3e;
}
