.contFoot {
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
}

@media only screen and (max-width: 576px) {
  .arrows {
    display: none;
  }
}

.next {
  margin-top: 5%;
  margin-right: 8%;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 30px solid #3439d0;
  filter: drop-shadow(10px 0 5px rgba(0, 0, 0, 1));
  transition: transform 0.3s, filter 0.3s;
}

.prev {
  margin-top: 5%;
  margin-left: 8%;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 30px solid #3439d0;
  filter: drop-shadow(10px 0 5px rgba(0, 0, 0, 1));
  transition: transform 0.3s, filter 0.3s;
}

.prev:hover {
  transform: scale(1.1);
  filter: drop-shadow(1px 0 1px rgba(255, 255, 255, 0.7));
}

.next:hover {
  transform: scale(1.1);
  filter: drop-shadow(1px 0 1px rgba(255, 255, 255, 0.7));
}

.empty {
  display: none;
}

.characters {
  margin-top: 5px;
  border-radius: 20px;
  -webkit-box-shadow: 5px 5px 20px 5px #000000;
  box-shadow: 5px 5px 20px 5px #000000;
  transition: transform 0.5s ease-in-out;

  @media only screen and (max-width: 500px) {
    max-width: 200px;
    max-height: 190px;
    margin-bottom: 15px;
  }
}

.characters:hover {
  transition: transform 0.5s ease-in-out;
  transform: scale(1.1);

  @media only screen and (max-width: 500px) {
    max-width: 200px;
    max-height: 190px;
  }
}

.characters.static:hover {
  transform: none;
}

.name {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  text-shadow: 1px 3px 0 #969696, 1px 4px 8px #aba8a8;

  @media only screen and (max-width: 500px) {
    font-size: 30px;
  }
}

.property .value {
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  color: #c9c5d3;

  @media only screen and (max-width: 500px) {
    font-size: 14px;
    text-align: justify;
  }
}

.property {
  font-family: Arial, Helvetica, sans-serif;
  color: #e5e5e5;

  @media only screen and (max-width: 500px) {
    font-size: 14px;
    text-align: justify;
  }
}

.mybutton {
  color: lightgray;
  font-size: 16px;
  line-height: 16px;
  padding: 6px;
  border-radius: 10px;
  background-image: linear-gradient(
    45deg,
    #4b5aa5 0%,
    rgb(3, 3, 135) 50%,
    #16035b 100%
  );

  box-shadow: rgb(0, 0, 0) 1px 1px 3px 1px;
  border: 2px solid rgb(28, 110, 164);
  display: inline-block;
}

.mybutton:hover {
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.6);
}

.mybutton:active {
  transform: scale(1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.mybutton.rig {
  font-family: "Courier New", Courier, monospace;
  margin-left: auto;
  margin-right: 5px;
  margin-top: 5px;
  @media only screen and (max-width: 500px) {
    margin-top: 5px;
  }
}