.modal {
  padding: 2px;
  background: rgba(0, 0, 0, 0.9);
  color: #fff;
  position: fixed;
  top: -30vh; /* Inicialmente, el modal estará fuera de la pantalla */
  left: 0;
  height: 35vh;
  width: 100vw;
  transition: top 1s; 
  transition: transform 0.3s, box-shadow 0.3s;
  font-family: Georgia, Times, 'Times New Roman', serif;
}

.modal.show {
  top: 0; 
  transition: top 1s; 
}

.mybutton {
  color: lightgray;
  font-size: 16px;
  line-height: 16px;
  padding: 6px;
  border-radius: 10px;
  background-image: linear-gradient(
  45deg,
    #4b5aa5 0%,
    rgb(3, 3, 135) 50%,
    #16035b 100%
  );

  box-shadow: rgb(0, 0, 0) 1px 1px 3px 1px;
  border: 2px solid rgb(28, 110, 164);
  display: inline-block;
}

.mybutton:hover {
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.6);
}

.mybutton:active {
  transform: scale(1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.mybutton.rig {
  font-family:'Courier New', Courier, monospace;
  margin-left: auto;
  margin-right: 5px;
  margin-top: 5px;
  @media only screen and (max-width: 500px) {
    margin-top: 5px;
  }
}

.erased {
  margin-top: 1%;
  border-radius: 8px;
  filter: grayscale(100%);
}

