.search_style {
  float: inline-start;
  display: flex;
  align-items: center; 
  justify-content: space-between;
  border-radius: 5px;
  padding: 14px;
  text-decoration: none;
  font-size: 17px;
  max-height: 30px;
  margin-bottom: 20px;
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
  box-shadow: 5px 5px 15px 10px #000000;
  background-color: #16035b;
  color: #fff;
  margin-inline: 3px;

}

.search_style:hover {
  background-color: rgb(3, 3, 135);
}


.search_style input {
  padding: 6px;
  border-radius: 8px;
  font-size: 17px;
  margin-left: auto;
  margin-right: 12px;
}


.imageBar {
  max-height: 50px;
  margin-left: 2%;
  transition: filter 0.3s ease-in-out; 
}
.imageBar:hover{
  filter: brightness(130%);
}