.search_style {
  overflow: hidden;
  float: inline-start;
  display: flex;
  justify-content: right;
  text-align: center;
  align-content: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  margin-bottom: 20px;
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
  box-shadow: 5px 5px 15px 10px #000000;
  background-color: #16035b;
  color: #fff;
}

.search_style:hover {
  background-color: rgb(3, 3, 135);
}


.search_style input {
  padding: 6px;
  border-radius: 8px;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}
