.search_style {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  padding: 14px;
  max-height: 30px;
  margin-top: 10px;
  margin-bottom: 20px;
  box-shadow: 5px 5px 15px 10px #000000;
  background-color: #133343;
  overflow: hidden;
}

.search_style:hover {
  filter: brightness(120%);
}

.logout {
  position: absolute;
  left: 88%;
  top: 34%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 18px;
  cursor: pointer;
  color: #40b6cb;
}
.logout:hover {
  color: #c0df3e;
}

.about {
  position: relative;
  overflow: hidden;
  color: #40b6cb;
  margin-left: -50vh;
  font-size: 1.5em;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.about::after {
  content: "";
  position: absolute;
  left: 0;
  width: 0;
  height: 2px;
  top: 115%;
  background-color: #c0df3e;
  transition: width 0.2s ease-in-out;
}

.about:hover::after,
.about:focus-within::after {
  width: 100%;
}

.about:hover {
  filter: brightness(120%);
  transition: filter 0.2s ease-in-out, text-decoration 0.3s ease-in-out;
  cursor: pointer;
}

.about:active {
  color: #c0df3e;
}
.mail {
  position: absolute;
  left: 85%;
  top: 34%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 14px;
  cursor: pointer;
  color: #40b6cb;
}


.imageBar {
  max-width: 200px;
  max-height: 45px;
}

.imageBar:hover {
  filter: brightness(120%);
}

@media only screen and (max-width: 500px) {
  
  .about {
    font-size: 20px;
    margin-left: 1vh;
    margin-right: 100%;
  }
 
  .search_style {
    justify-content: space-between;
    align-items: center;
    position: fixed;
    display: flex;
    flex-direction: column;
    max-width: 8vh;
    max-height: unset;
    margin-top: 2vh;
    height: 90%;
    overflow: hidden;
    padding: 2vh;
  }

  .imageBar {
    max-width: 10vh;
    margin-bottom: -10vh;
  }

  .logout {
    font-size: 1em;
    top: 85vh;
    left: 5vh;
  }

  .mail {
    font-size: 0.5em;
    top: 90%;
    left: 2vh;
    }
}

@media only screen and (max-width: 391px) {
  .search_style {
    max-width: 7vh;
  }
  .about{
    font-size: 14px;
  }

  .imageBar {
    max-width: 95%;
  }

  .mail{
    font-size: 0.4em;
  }

  .logout{
    font-size: 0.8em;
  }
}